.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-2{
  margin-bottom: 20px !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.r-0 {
  right: 0;
}

.l-0 {
  left: 0;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center;
}

@media (min-width: 768px) {
  .position-sm-absolute {
    position: absolute !important;
  }
}
