<div class="row">
	<div class="col-xs-6 position-relative code-design-block">
		<a href="#">
			<div class="col-sm-6 col-xs-12 phone-left mb-2 position-relative float-right">
				<div class="position-absolute phone-background">
					<img class="w-100" src='{{ materials }}main-code-design/{{ path }}'>
				</div>
				<div>
					<img class="w-100" src='{{ materials }}main-code-design/iphone-mockup-left.png'>
					<div class="shadow"></div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 vertical-center position-sm-absolute code-design float-right">
				<div class="text-align-center">
					<a>Design</a>
					<p>UX/UI</p>
					<p>Art</p>
					<p>Graphics</p>
					<p>Videomaking</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-xs-6 position-relative code-design-block">
		<a href="#">
			<div class="col-sm-6 col-xs-12 phone-right mb-2">
				<div>
					<img class="w-100" src='{{ materials }}main-code-design/iphone-mockup-right.png'>
					<div class="shadow"></div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 vertical-center position-sm-absolute code-design r-0">
				<div class="text-align-center">
					<a>Development</a>
					<p>Back-end</p>
					<p>Front-end</p>
				</div>
			</div>
		</a>
	</div>
</div>
