<h1 class="text-align-center">Hello, I`m
	<span class="primary-gradient">Arxalex</span>
</h1>
<p class="text-align-center mb-3">designer and developer.<br>Get information about my
	                                projects:</p>
